exportPattern( "^lc_[[:alpha:]]+" )
export( dat )
import( stringr )
importFrom( utils, browseURL )
importFrom( httpuv, startDaemonizedServer, stopDaemonizedServer)
importFrom( jsonlite, fromJSON, toJSON, unbox )